<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Paises</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Listado de Paises</h1>
    <div class="container">
        <div class="container2">
            <ul class="waza">
                <h3>Paises</h3>

                {% for pais in paises %}
                   <li class="paises">
                   <p class="pais">{{ pais['pais'] }}</p>
                   </li>
                {% endfor %}
            </ul>
        </div>
        <div class="container2">
            <ul class="waza2">
                <h3>Capitales</h3>
                {% for pais in paises %}
                <li class="capitales">
                    <p class="capital">{{ pais['capital'] }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    
    </div>
    
</body>
</html>